*{
    margin: 0px;
    padding: 0px;
}
/* grandezza delle immagini nel main adattabili a tutte le dimensioni */
main article img{
    width: 100%;
    height: auto;
}

body{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3
{
    font-family:'Audiowide', sans-serif;
}

/* sfondo*/
header{
    width: 100%;
    height: 1000px;
}

.white {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

/* distanza dai bordi */
header img{
    padding: 50px;
}

/* menù di navigazione */
nav li{
    display: inline-block; 
    list-style: none; 
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 20px;
    padding: 65px 0 0 0;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat Light', sans-serif;
}

nav a:hover{
   color:#E0792B;
}

.testi-header {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    color: #fff;
}

.logo{
    width: 100px;
    height: auto; 
}

/* div contenente logo e menù */
.navbar{
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 72px;
    align-content: center;
}

/* seconda fascia */
main{
    display: flex;
    /* AGGIUNGERE padding: 50px 0px; CON MEDIAQUERY */
}

/* divide in due articoli la fascia */
article {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article h3 {
    align-self: center;
}


/* id da utilizzare per ogni fascia nera all'interno del sito */
.black{
    background-color: #000;
    color: white; 
}

article p {
    width: 70%;
    padding-top: 30px;
    font-size: 20px;
}

h2{
    font-size: 30px;
}

/* div per il titolo fuori da section */
.title {
    text-align: center;
    padding: 50px;
    width: 100%;
}

.subtitle {
    text-align: center;
    width: 50%;
}

/* sottotitoli terza fascia */
section h3{
    text-align: center;
    padding-bottom: 50px;
}

section p{
    text-align: center;
}

/* colore nero al footer */
.wide{
    background-color: #000;
    padding: 20px;
}

/* testo nel footer */
footer p{
    color: #fff;
    padding: 10px;
    font-size: 14px;
}

footer {
    display: flex;
    padding: 30px 20px 60px;
}

.menu_social {
    display: flex;
    width: 300px;
    justify-content: space-around;
    color: #fff;
}

.menu_social span {
    font-size: 50px;
}

footer h3 {
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #E0792B;
}


/* §§§§§§  QUI INIZIA IL CSS DELLA HOME -HOME- §§§§§§§ */
#home{
    background: url(img/home.png) no-repeat center center;
    background-size: cover;
}

#home .testi-header {
    padding-top: 50px;
}

/* §§§§§§  QUI INIZIA IL CSS -SCENARI- §§§§§§§ */


#scenari {
    background: url(img/esperienza.png) no-repeat center center;
    background-size: cover;
}

.scheda_selezionata {
    border-bottom: #fff solid 1px;
    padding-bottom: 5px;
}

#scenari p {
    color: #fff;
    width: 50%;
}

.linea_oriz {
    width: 150px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 35px;
}

#scenari h1{
    color:white;
    font-size: 50px;
    margin-bottom: 20px;
}




