*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
main article img{
    width: 95%;
    height: auto;
    overflow: hidden;
}
body{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3
{
    font-family:'Audiowide', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
}

.testi-header + a 
{
    text-decoration: none;
}

#home h1 {
    font-size: 2.7rem;
    padding-top: 80px;
}

.white {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px;
}

/* distanza dai bordi */
header img{
    padding: 50px;
}
.download :hover{
    color: #E0792B;
}

/* menù di navigazione */
nav li{
    display: inline-block; 
    list-style: none; 
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 20px;
    padding: 65px 0 0 0;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat Light', sans-serif;
}

nav a:hover{
   color:#E0792B;
}

.testi-header {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    color: #fff;
}

.logo{
    width: 100px;
    height: auto; 
}

.div-bottone {
    text-align: center;
    padding: 40px 0;
}

/* div contenente logo e menù */
.navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #fff;
    font-size: 72px;
    align-content: center;
}

/* seconda fascia */
main{
    display: flex;
    /* AGGIUNGERE padding: 50px 0px; CON MEDIAQUERY */
    
}

.bottone{
    font-family:'Audiowide', sans-serif;
    border: 2.5px solid #E0792B;
    color: #fff;
    background: none;
    padding: 10px 20px;
    font-size: 25px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* .bottone a{
    color: #fff;
} */

.bottone:hover {
    color: #E0792B;
}

.bottone:hover::before {
    height: 0%;
}

.bottone::before {
    position: absolute;
    color: #E0792B;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 180%;
    background: #E0792B;
    z-index: -1;
    transition: 0.8s;
    border-radius: 50% 50% 0 0;
}

/* divide in due articoli la fascia */
article {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.linea_vert {
    width: 3px;
    height: 280px;
    background-color: #fff;
    opacity: .5;
    align-self: flex-end;
    border-top-left-radius: 14%;
    border-top-right-radius: 14%;
}

.linea_oriz {
    width: 150px;
    height: 1px;
    background-color: #fff;
    margin: 25px 0px 35px 0px;
}

article h3 {
    align-self: center;
}

/* id da utilizzare per ogni fascia nera all'interno del sito */
.black {
    background-color: #000;
    color: white;
    position: relative;
    width: 100%;
    height: 600px;
}

.black::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(3deg);
}
.nero{
    background-color: #000;
    color: white;
    position: relative;
    width: 100%;
    height: 600px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px;
}

.white + .black::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transform: skewY(-3deg);
}

.white + .black::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(3deg);
}

article p {
    width: 70%;
    padding-top: 30px;
    font-size: 20px;
}

h2{
    font-size: 30px;
}
article a{
    color: #000;  
}

/* div per il titolo fuori da section */
.title {
    text-align: center;
    padding: 50px;
    width: 100%;
}

.subtitle {
    text-align: center;
    width: 50%;
}

/* sottotitoli terza fascia */
section h3{
    text-align: center;
    padding-bottom: 50px;
}

section p{
    text-align: center;
}

section article {
    z-index: 4;
}

/* colore nero al footer */
.wide{
    background-color: #000;
    padding: 20px;
}

/* testo nel footer */
footer p{
    color: #fff;
    padding: 10px;
    font-size: 14px;
}

footer {
    display: flex;
    padding: 30px 20px 60px;
    background-color: black;
}

.menu_social {
    display: flex;
    width: 300px;
    justify-content: space-around;
    color: #fff;
}

.menu_social span {
    font-size: 50px;
}

footer h3 {
    margin-bottom: 10px;
    padding-left: 12px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #E0792B;
}

/* §§§§§§  QUI INIZIA IL CSS DELLA HOME -HOME- §§§§§§§ */
#home{
    background: url(img/home.png) no-repeat center center;
    background-size: cover;
}
n
#home .testi-header {
    padding-top: 50px;
}
#banner{
    min-height: 400px;
    color: black;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    font-size: 40px;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 10px;
    text-shadow: 1px 1px 10px black;
    display: block;
}
.banner1{
    background-image: url(img/banner_home.jpg);
}
.banner2{
    background-image: url(img/banner_home3.jpg);
}
#banner h2{
    padding-top: 200px;
    font-size: 3rem;
}
#banner p{
    font-size: 1.5rem;
    padding-top: 10PX;
}
@media(max-width:900px){
    header img{
        padding:50px 0px 0px 25px;
    }
    .testi-header{
        margin-left: 25px;
        padding-top: 60px;
    }
    #home h1{
        font-size: 2.5rem;
        padding-left:25px;
    }
    main{
        padding-top:40px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .black{
        height: auto;
    }
    .white{
        flex-direction: column;
    }
    footer{
        flex-direction: column-reverse;

    }
    .menu_social{
        width: 100%;
    }
    .subtitle{
        text-align: center;
        width: 100%;
    }
    .h3dekstop{
        display: none;
    }
    #scenari h1{
        font-size: 2.5rem;
    }

  }
@media(min-width:900px){
    .h3mobile{
        display: none;
    }
}
@media(max-width:550px){
    #home h1{
        font-size: 2rem;
        margin-top: 30px;
        padding-top: 0px;
        line-height: 1.6;
    }

    h2 {
        font-size: 27px;
        text-align: center;
        padding: 20px 0;
    }

    article p {
        width: 88%;
        padding: 0;
        padding-bottom: 70px;
        text-align: center;
    }

    #banner h2 {
        text-align: center;
        padding: 70px 0;
        }

    #banner p {
        display: none;
    }
    

    .title {
        width: auto;
    }

    article img {
        width: inherit;
    }

    nav li {
        padding: 0;
        max-width: min-content;
        font-size: small;
    }

    .navbar {
       display: flex;
       justify-content: space-between;
    }
}



/* §§§§§§  QUI INIZIA IL CSS -SCENARI- §§§§§§§ */


#scenari header {
    background: url(img/scenari.jpg) no-repeat center center;
    background-size: cover;
}

.scheda_selezionata {
    border-bottom: #fff solid 1px;
    padding-bottom: 5px;
}

#scenari header p {
    color: #fff;
    width: 50%;
}

#scenari h1{
    color:white;
    font-size: 50px; 
}

#scenari #main img{
    width: 520px;
    height: auto;
    align-self: unset;
}

#scenari .black {
    background-color: #121212;
}

#scenari .black img {
    width: 450px !important;
}

#scenari article {
    height: 600px;
}

.black .linea_oriz {
    width: 150px;
    height: 1px;
    background-color: #fff;
    margin: 25px 0px 35px 0px;
    align-self: flex-end;
}

#scenari .black article p {
    text-align: right;
}

#scenari .black .contenitore-interno {
    width: 67%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
}

#scenari .white .contenitore-interno {
    width: 67%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#scenari .white article p {
    text-align: left;
    padding-top: 10px;
}

#scenari .contenitore-interno p {
    width: 100%;
}

#scenari #main .white {
    background-color: white;
}

#scenari .white .linea_oriz {
    width: 150px;
    height: 1px;
    background-color: #000;
    margin: 25px 0px 35px 0px;
    align-self: flex-start;
}

.fa-chevron-down {
    color: #fff;
    text-align: center;
    font-size: 40px;
    position: absolute;
    bottom: 8%;
    width: inherit;
}

@media(max-width:550px){

.logo {
    padding: 20px 10px;
    width: 60px;
    height: auto;
    display: block;
    align-self: ;
}

.navbar {
    justify-content: unset;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

ul li {
    display: block;
    font-size: 20px;
    font-weight: 800;
    padding-top: 12px;
}

.scheda_selezionata {
    padding-bottom: 0;
}

.fa-chevron-down {
    bottom: 3%;
}

#scenari .black img, #scenari .white img {
    width: 340px !important;
}

#scenari header {
    height: 100vh;
    padding-bottom: 40px;
}

#scenari article {
    height: auto;
    padding-bottom: 35px;
}

#scenari h1 {
    font-size: 30px;
    padding-top: 25px;
}


#scenari .testi-header {
    padding-top: 15px;
}

#scenari header p {
    width: 90%;
    font-size: 18px;
}

}

/* §§§§§§  QUI INIZIA IL CSS -APP- §§§§§§§ */
#app{
    background: url(img/app.jpg) no-repeat center center;
    background-size: cover;
}

#app h1{
    color:white;
    font-size: 50px; 
}

#app .testi-header{
    flex-direction: row ;
}


#aggio .img6 {
    padding: 0px 0px 25px 50px;
}

#aggio  .img5{
    padding-left: 150px;
}
#aggio .img15{

    padding: 70px 0px 350px 350px;
    
}


.paragrafo{
    padding-top: 5%;
    padding-bottom: 5%;
}

.download{
    font-size: 60px;
}
.downloadimg{
    flex-direction: row-reverse;
    /* justify-content: space-between; */
    padding-right:10px;

}


.content {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    font-size: 30px;
      
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  
  .now {
    flex-grow: 3;
    padding-left: 33px;
  
  }
  

  @media(max-width:1000px){
    .content{
      flex-direction: column;
      
    }
    .store{
        padding-left: 65px;
    }
     article{
        width:100%;
        flex-direction: column-reverse;
    } 
  }
.colonna{
    display: flex;
    flex-direction: column;
}

.now {
    z-index: 2;
}
 .store {
     flex-grow: 2;
     z-index: 2;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }

 #aggio .black {
     height: auto;
 }

 .hrbyaggio {
     z-index: 2;
 }

 #aggio .white + .black::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: none;
    transform-origin: none;
}

#aggio .store img{
    padding: 10px 50px;
}

@media(max-width:1000px){
    .content{
      flex-direction: column;
      
    }
    .store{
        padding-left: 65px;
    }
     article{
        width:100%;
        flex-direction: column;
    } 
    
  }
  #calendario header {
    background: url(img/calendario.jpg) no-repeat center center;
    background-size: cover;
}
#calendario header h1 {
    font-size: 50px;
    padding-top: 70px;
}
#calendario header p {
    color: #fff;
    width: 50%;
}
article .calendario{
    width: 33.33%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.calendario img{
    padding-top: 30px;
    width: 70%;
    height: auto;
    justify-content: center;
    align-items: center;
    align-self: auto;
}
.calendario h3{
   padding-top: 30px;
}
.calendario p{
    padding-bottom: 50px;
}

/* Chi siamo */

#chisiamo header {
    background: url(img/contatti.jpg) no-repeat center center;
    background-size: cover;
}
#chisiamo header p {
    color: #fff;
    width: 50%;
}
.team{
    overflow: hidden;
    text-align: center;
    background-color: black;
    padding: 60px;
}
#chisiamo .team h2{
    margin-bottom: 60px;
    color:white;
    font-size:40px;
}
#chisiamo .row{
    display: flex;
}
#chisiamo .column {
    justify-content: center;
    text-align: center;
}
#chisiamo .column > a{
    color: white;
    font-size: 32px;
    padding: 10px;
    /* border-radius: 50%; */
}
#chisiamo .column>a:hover{
    background: #E0792B;
}
#chisiamo .bordo{
    display:block;
    margin:auto;
    width: 260px;
    height: 3px;
    background: #fff;
    margin-bottom: 40px;
    margin-top: -40px;
}
#chisiamo .bordodescrizione{
    display:block;
    margin:auto;
    width: 260px;
    height: 3px;
    background: #fff;
    margin-bottom: 10px;
    margin-top: 20px;
}

#chisiamo .persona img{
    width: 16%;
    filter: grayscale(100%);
    transition: 0.7s all;
}
#chisiamo .persona > img:hover{
    filter: none;
}
#chisiamo h3{
    color: white;
    margin-bottom: 25px;
}
#chisiamo .column>p{
    /* Non riesco a spostare il p se non mettendogli un margin a sinistra.. DA VEDERE(?) */
    margin: 10px 0 0 160px;
    justify-content: center;
}
/* #chisiamo .card{
    background-image: url(img/backcard.png) ;
} */